# 🔹 Игнорируем зависимости
**/node_modules/

# 🔹 Сборка
**/build/
**/dist/

# 🔹 Конфигурация окружения
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# 🔹 Кэш и логи
**/.next/
**/.cache/
**/.turbo/
**/coverage/
**/.parcel-cache/

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# 🔹 ОС и IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# 🔹 Тестовые отчёты
**/allure-results/
**/allure-report/
**/test-results/
**/reports/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
